span.section-title{
    width: 100%;
    color: rgba(11,7,54,1);
    position: absolute;
    top: 100px;
    left: 0px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 32px;
    opacity: 1;
    text-align: center;
}

div.text{
    width: 100%;
    color: rgba(11,7,54,1);
    position: absolute;
    top: 175px;
    left: 0px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

div.button{
    width: 188px;
    height: 76px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 275px;
    left: 580px;
    overflow: hidden;

}

div.button-section{
    width: 187px;
    height: 76px;
    background: linear-gradient(rgba(0,51,102,1), rgba(0,64,128,1));
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;

}

span.button-text{
    width: 187px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 24px;
    left: 1px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}
