@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root{
	--primary: #130F49;
    --background: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);;
	--secondary: #bfc0c0;
	--white: #fff;
	--text-clr: #5b6475;
	--header-clr: #25273d;
	--next-btn-hover: #8577d2;
	--back-btn-hover: #8b8c8c;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	outline: none;
	font-family: 'Poppins', sans-serif;
}

body{
	background: var(--background);
	color: var(--text-clr);
	font-size: 16px;
	position: relative;
}

.wrapper{
	width: 750px;
	max-width: 100%;
	background: var(--white);
	margin: 50px auto 0;
	padding: 50px;
	border-radius: 5px;
}

.wrapper .header{
	display: flex;
	justify-content: center;
}

.wrapper .header ul{
	display: flex;
}

.wrapper .header ul li{
	margin-right: 50px;
	position: relative;
}

.wrapper .header ul li:last-child{
	margin-right: 0;
}

.wrapper .header ul li:before{
	content: "";
	position: absolute;
	transform: translateY(-250%);
	left: 55px;
	width: 100%;
	height: 3px;
	background: var(--secondary);
}

.wrapper .header ul li:last-child:before{
	display: none;
}

.wrapper .header ul li div{
	padding: 5px;
	border-radius: 50%;
}

.wrapper .header ul li p {
	width: 50px;
	height: 50px;
	background: var(--secondary);
	color: var(--white);
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
}

i.bx.bxs-user{
    width: 30px;
    height: 30px;
}

i.bx.bx-file{
    width: 30px;
    height: 30px;
}

i.bx.bxs-pencil{
    width: 30px;
    height: 30px;
}

.wrapper .header ul li.active:before{
	background: var(--primary);
}

.wrapper .header ul li.active p{
	background: var(--primary);
}

.wrapper .form_wrap{
	margin-bottom: 35px;
}

.wrapper .form_wrap h2{
	color: var(--primary);
    font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

.wrapper .form_wrap .input_wrap{
	width: 350px;
	max-width: 100%;
	margin: 0 auto 20px;
}

input#education.input{
    width: 420px;
    height: 100px;
}

input#working_experience.input{
    width: 420px;
    height: 100px;
}

input#skill.input{
    width: 420px;
    height: 100px;
}

.wrapper .form_wrap .input_wrap:last-child{
	margin-bottom: 0;
}

.wrapper .form_wrap .input_wrap label{
	display: block;
	margin-bottom: 5px;
}

.wrapper .form_wrap .input_wrap .input{
	border: 2px solid var(--secondary);
    box-shadow: var(--next-btn-hover);
	border-radius: 8px;
	padding: 10px;
	display: block;
	width: 100%;
	font-size: 16px;
	transition: 0.5s ease;
}

.wrapper .form_wrap .input_wrap .input:focus{
	border-color: #1a75ff;
    box-shadow: inset 0 0 3px #fb6aae;

}

.wrapper .btns_wrap{
	width: 350px;
	max-width: 100%;
	margin: 0 auto;
}

.wrapper .btns_wrap .common_btns{
	display: flex;
	justify-content: space-between;
}

.wrapper .btns_wrap .common_btns.form_1_btns{
	justify-content: flex-end;
}

.wrapper .btns_wrap .common_btns button{
	border: 0;
	padding: 12px 15px;
	background: var(--primary);
	color: var(--white);
	width: 135px;
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 16px;
	border-radius: 3px;
	transition: 0.5s ease;
	cursor: pointer;
}

.wrapper .btns_wrap .common_btns button.btn_back{
	background: var(--secondary);
}

.wrapper .btns_wrap .common_btns button.btn_next .icon{
	display: flex;
	margin-left: 10px;
}

.wrapper .btns_wrap .common_btns button.btn_back .icon{
	display: flex;
	margin-right: 10px;
}

.wrapper .btns_wrap .common_btns button.btn_next:hover,
.wrapper .btns_wrap .common_btns button.btn_done:hover{
	background: var(--next-btn-hover);
}

.wrapper .btns_wrap .common_btns button.btn_back:hover{
	background: var(--back-btn-hover);
}

.modal_wrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
}

.modal_wrapper .shadow{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	opacity: 0;
	transition: 0.2s ease;
}

.modal_wrapper .success_wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-800px);
	background: var(--white);
	padding: 50px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	transition: 0.5s ease;
}

.modal_wrapper .success_wrap .modal_icon{
	margin-right: 20px;
	width: 50px;
	height: 50px;
	background: var(--primary);
	color: var(--white);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	font-weight: 700;
}

.modal_wrapper.active{
	visibility: visible;
}

.modal_wrapper.active .shadow{
	opacity: 1;
}

.modal_wrapper.active .success_wrap{
	transform: translate(-50%,-50%);
}
